body {
  	padding-top: 10px;
  	background: #FFFFFF;
}

h1 {
	text-align: center
}

h2 {
  color: black;
}

.programme, .actus, .btn {
  background-color: #D88D31;
}

legend {
  font-size: 1em;
}

input {
  font-size: 0.8em;
  color: black;
}

.article {
  background-image: url("images/it.jpg");
  padding-bottom: 24em;
}

.titreactu, .titreresa {
  background-image: url("images/it.jpg");
}

.actions {
	background: black;
	padding-bottom: 16.2em;
}

.cv {
	font-size: 1.4em;
    color: white;
}

.pied {
  padding-top: 4.6em;
	padding-bottom: 2.4em;
}

.container-fluid {
  	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav > li > a{
	color: white;
	text-transform: uppercase;
	font-size: 1.2em
}

.navbar-nav > li > a {
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    line-height: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	color: black;
	background-color: transparent;
}

.slogan {
	text-align: center;
	font-size: 3.6em;
	color: white;
    padding-top: 4.2em;
}

.presentation {
	text-align: center;
	font-size: 1.6em;
	color: white;
    padding-top: 2em;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

form {
  margin: left;
  width: 400px;
}

form div + div {
    margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: left;
}

.titre01 {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 2em;
  padding-bottom: 2.4em;
}

.titre02 {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 2em;
  padding-bottom: 12em;
}

.titre03 {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 2em;
  padding-bottom: 12em;
}

.titre04 {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 4.8em;
  padding-bottom: 8.4em;
}

.titre05 {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 4.8em;
  padding-bottom: 8.4em;
}

.titre06 {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 4em;
  padding-bottom: 2.4em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
	.slogan {
		font-size: 2em;
	}
    .presentation {
        font-size: 1em;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
	.slogan {
		font-size: 2.4em;
	}
    .presentation {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
  .navbar-brand {
    padding: 0;
  }
    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
}



